{% extends 'layouts/layout_general.html' %}

{% block title %}
    Indice
{% endblock %}

{% block content %}
    <h1>{{title}}</h1>
    <hr/>
    {% if messages %}
        {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
        {% endfor %}
    {% endif %}

    {% if user.first_name %}
        <h2>Bienvenido, {{request.user.first_name}} {{request.user.last_name}}</h2>
    {% else %}
        <h2>Debes logarte</h2>
    {% endif %}

    <p>Pharetra nullam massa aenean dis eu, mi donec proin conubia netus posuere, lacinia scelerisque arcu phasellus.</p>
    <ol>
        {% for page in pages %}
            <li>
                <a href="{% url 'page' page.2 %}">{{ page.1 }}</a>
            </li>
        {% endfor %}
    </ol>
{% endblock %}
