<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">

</head>
<body>
    <header>
        <div id="logo">
            <!--LOGO-->
            <img src="{% static 'images/logo.png'%}">
            <h1>Web con Django</h1>
        </div>

        <nav>
            <ul>
                <li>
                   <a href= "{% url 'index_url' %}">Inicio</a>
                 </li>
                <li>
                    <a href= "{% url 'hello_world_url' %}">Hello</a>
                </li>
                 <li>
                    <a href= "{% url 'contact_url' %}">Contacto</a>
                </li>
                <li>
                    <a href= "{% url 'create_full_article' %}">Formulario</a>
                </li>
                <li>
                    <a href= "{% url 'articles' %}">Artículos</a>
                </li>

            </ul>
        </nav>
        <div class="separator">
            <span class="left-corner"></span>
            <span class="content-separator"></span>
            <span class="right-corner"></span>
        </div>
    </header>

    <div id="content">
        <div class="box">
            {% block content %}
            <strong>Contenido heredado</strong>
            {% endblock %}
        </div>
    </div>

    <footer>Curso con Django - {% now "d/m/Y" %}</footer>
</body>
</html>